<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="com.sorrowblue.comicviewer" />
        <package android:name="com.sorrowblue.comicviewer.debug" />
        <package android:name="com.sorrowblue.comicviewer.prerelease" />
        <package android:name="com.android.vending" />
    </queries>

    <application
        android:name="com.sorrowblue.comicviewer.plugin.pdf.MainApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity
            android:name="com.sorrowblue.comicviewer.plugin.pdf.MainActivity"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
