#########
# https://github.com/github/gitignore/blob/main/Gradle.gitignore
.gradle
**/build/
!**/src/**/build/
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
# Avoid ignore Gradle wrappper properties
!gradle-wrapper.properties
#########
#########
# https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
# User-specific stuff
.idea/**/workspace.xml
# Gradle
.idea/**/gradle.xml
# Gradle and Maven with auto-import
.idea/artifacts
.idea/modules.xml
.idea/modules
########
########
# User
.idea/kotlinc.xml
.idea/deviceManager.xml
.idea/migrations.xml
.idea/deploymentTargetSelector.xml
.idea/assetWizardSettings.xml
.idea/appInsightsSettings.xml
.idea/AndroidProjectSystem.xml
.idea/.name
.idea/runConfigurations.xml
.idea/misc.xml
.idea/caches
.idea/shelf

local.properties

pdf/ComicViewer
pdf/**/resources/**/*.jar
